@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

/* General */

body {
  display: block;
  margin: auto;
  max-width: 50em;
  padding: 0em 0.5em;
  line-height: 1.6;
}

a,
a:visited {
  color: #a00;
}

button,
.button {
  text-decoration: none;
  color: black !important;
  border: 1px solid #6d6d6d;
  border-radius: 0.2em;
  padding: 0.5em;
}

button:hover,
.button:hover,
button:active,
.button:active,
button:focus,
.button:focus {
  background-color: #dedede;
}

button[disabled],
.button[disabled] {
  background-color: #cdcdcd;
  cursor: text;
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

blockquote {
  background: #f6f8fa;
  margin: 0.25em 0;
  border-left: 0.5em solid #adadad;
  padding-left: 1.5em;
}

.highlight > pre,
pre > code,
blockquote {
  padding: 0.5em 1em;
  border-radius: 0.25em;
}

pre > code {
  display: block;
  overflow-x: auto;
}

.highlight > pre > code {
  padding: 0;
}

/* Nav bar */

.site-header {
  margin-bottom: 2em;
  padding-top: 1em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #dadada;
}

.site-header h1 {
  text-align: center;
  font-variant: small-caps;
  margin-bottom: 0;
}

.site-header ul a {
  line-height: 1.5em;
  padding: 1em;
}

.site-header ul {
  text-align: center;
  list-style: none;
  margin: 0em;
}

.site-header li {
  display: inline-block;
  margin-top: 1em;
}

.site-header ul:first-child {
  padding-left: 0;
}

.site-header ul:last-child {
  padding-right: 0;
}

/* Pagination */
.pagination {
  margin: 1em;
  text-align: center;
}

/* Footer */
footer {
  border-top: 1px solid #dadada;
}

/* Article Summary */

.article-summary {
  padding-bottom: 1em;
  border-bottom: 1px dashed #dadada;
}

.article-summary h1 {
  margin-bottom: 0;
  font-size: 1.3em;
}

.article-summary .tags {
  float: right;
}

.article-summary .summary {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.article-summary .read-more {
  font-size: smaller;
}

/* Post */

.post {
  padding-bottom: 1em;
  border-bottom: 1px solid #dadada;
}

.post .title {
  text-decoration: underline;
  margin-bottom: 0;
}

.post .tags {
  font-size: smaller;
}

/* Misc */

.article-details {
  font-size: smaller;
}
