{{ define "main" }}
	<main>
		<article class="post">
			<h1 class="title">{{ .Title }}</h1>
			<div class="article-details">
				<time>{{ .Date.Format "Mon Jan 2 2006" }}</time>
				{{ if .Params.categories }}
					in
					<a
						href="{{ "/categories/" | relLangURL }}{{ .Params.categories | urlize }}"
						>{{ .Params.categories }}</a
					>
				{{ end }}
				</div>
			<div>
				{{ .Content }}
			</div>
			{{ with .Params.tags }}
			<div class="tags">
				[ Tags:
				{{ range . }}
					<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"
						>#{{ . }}</a
					>
				{{ end }} ]
			</div>
			{{ end }}
		</article>
	{{ partial "comments.html" . }}
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
